<launch>
  <node pkg="tracking" type="dbscan.py" name="DBSCAN_FitCircle" /> 
  <node name="ekf" pkg="tracking" type="ekf_multiple.py" output="screen"/>
  <node name="hungarian" pkg="tracking" type="hungarian_node.py"/>
  <node name="mediator" pkg="tracking" type="mediator.py"/>
  <!--
  <node pkg="tracking" type="vis_multiple.py" name="Visualisation" /> 
  <node pkg="rviz" type="rviz" name="Rviz" /> 
  -->
  
</launch>
